port: 8081

db:
  mongoURI: ---

security:
  bcrypt:
    saltRounds: 10

socialAuth:
  jwt:
    secret: ---
    issuer: ---
    audience: ---
  frontendRedirectUrl: http://localhost:8080
  google:
    clientID: ---
    clientSecret: ---
    callbackURL: http://localhost:8081/auth/google/callback
  facebook:
    clientID: ---
    clientSecret: ---
    callbackURL: http://localhost:8081/auth/facebook/callback
